body {
    background-color: rgba(3, 61, 3, 0.548);
}
#Mainhead {
    font-size: xx-large;
    color: rgba(82, 50, 9, 0.76);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.white_txt {
    color: rgb(231, 212, 187);
}
.blue_txt {
    color: rgba(15, 15, 68, 0.774);
}
article .white_txt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article>span {
    font-style: oblique;
}
#blue_txt+h2 {
    font-stretch: condensed;
}